*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
}
header{
    font-size:28px;
    font-weight:800;
}
.flex-container{
    display:flex;
}
#sidebar{
    width:20%;
    height:100%;
    background-color:white;
    position: fixed;
    margin:0;
    padding:0;
    border-right: 2px solid grey;
    overflow: auto;
}
main{
    background-color: white;
    display:block;
    padding:10px 30px;
    margin-left:20%;
    overflow: hidden;
}
nav a{
    display:block;
    text-decoration: none;
    font-size:20px;
    padding:10px 20px;
    border-top:2px solid grey;
    color: rgb(87, 87, 87);
}
nav a:hover{
    color:white;
    background-color:rgb(87, 87, 87);
}
main header{
    padding:20px 0 20px 0;
}
nav header{
    padding:20px;
}
#code{
    background-color:rgb(240, 240, 240);
    border-radius: 5px;
    padding:10px;
    margin-left:30px;
}
p{
    padding-left:0.5em;
}
@media (max-width:1150px){
    #sidebar{
        width:230px;
    }
    main{
        margin-left:230px;
    }
}
